{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
